<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<!-- User interface levels none, basic, full-->
		<add key="UserInterfaceLevel" value="basic" />
		<add key="MinimumStartTimeInSeconds" value="15" />
		<add key="MaximumStartTimeInSeconds" value="30" />
		<add key="UpdateIntervalInSeconds" value="1" />
		<add key="FileName" value="cmd" />
		<add key="Arguments" value="/c notepad.exe test.txt" />
		<add key="WindowTitle" value="Installation Test" />
	</appSettings>
</configuration>